<!-- jQuery -->
<script src="/assets/jquery/dist/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/assets/bootstrap/dist/js/bootstrap.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/assets/metisMenu/dist/metisMenu.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/assets/raphael/raphael.js"></script>
<script src="/assets/morrisjs/morris.js"></script>
<script src="/scripts/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/scripts/sb-admin-2.js"></script>

</body>

</html>