<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Player</title>
</head>
<body>
<h1>View Player</h1>
<p>{{model}}</p>
<a href="/api/add-new-player">Back</a>
</body>
</html>